# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/

# Pytest cache
.pytest_cache/

# Env files
.env
.env.*
!.env.example

# OS / IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log